# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual environments
venv/
.env/
*.env

# Django static files
/static/
staticfiles/
media/

# Heroku
*.log
*.pid

# IDE-specific
.vscode/
.idea/
.DS_Store
*.swp

# Node.js (voor frontend)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Other
*.egg-info/